<div class="admin-index">
  <%= link_to "映画 新規作成", new_cinema_path, data: {"turbolinks": false} %><br />
  <%= link_to "著名人 新規作成", new_celebrity_path, data: {"turbolinks": false} %><br />
  <p>映画および著名人を編集する場合は、左上の入力フィールドから映画タイトルまたは著名人を検索してください。</p>
</div>
