<% if flash[:notice] %>
  <p class="flash flash_notice"><%= flash[:notice] %></p>
<% end %>
<% if flash[:notice_green] %>
  <p class="flash_notice_green"><%= flash[:notice_green] %></p>
<% end %>
<% if flash[:alert] %>
  <p class="alert flash_alert"><%= flash[:alert] %></p>
<% end %>
<% if flash[:errors_full_messages] and (admin_signed_in? or user_signed_in?) %>
  <ul class="flash flash_errors">
    <% flash[:errors_full_messages].each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>
