.admin-frame {
  h1 {
    margin: 10px 0;
  }

  form {
    margin-bottom: 20px;
  }

  input, .child-radio-button {
    margin-left: 20px;
  }

  .child-radio-button .form-control {
    margin-left: 0;
    margin-right: 10px;
  }

  [type=submit]:not(disabled) {
    margin-left: 0;
  }
}

.admin-index {
  margin-top: 20px;
  margin-left: 20px;

  a {
    display: inline-block;
    margin-bottom: 10px;
    border-bottom: 2px solid #8ecdf7;
  }

  p {
    margin-top: 10px;
  }
}
