.cinema-index {
  p {
    margin-top: 20px;
    margin-left: 20px;
  }
}

.cinema-search {
  a {
    display: inline-block;
    margin-top: 20px;
    margin-left: 20px;
  }
}

.cinema-image {
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.cinema {
  h1 {
    margin: 10px 0;
  }

  .cinema-inner {
    margin-left: 10px;
  }

  form {
    margin-bottom: 20px;
  }

  input, textarea {
    margin-left: 20px;
  }

  [type=submit]:not(disabled) {
    margin-left: 0;
  }

  .create-content {
    margin-top: 10px;

    p {
      margin-left: 10px;
    }
  }
}
