.cinema-index {
  p {
    margin-top: 20px;
    margin-left: 20px;
  }
}

.cinema-search {
  .cinema-image {
    width: 300px;
    height: 300px;
    object-fit: cover;
  }

  a {
    display: inline-block;
    margin-top: 20px;
    margin-left: 20px;
  }
}
