.genre {
  h1 {
    margin: 10px 0;
  }

  .genre-inner {
    margin-left: 10px;
  }

  form {
    margin-bottom: 20px;
  }

  input, textarea {
    margin-left: 20px;
  }

  [type=submit]:not(disabled) {
    margin-left: 0;
  }

  .create-content {
    margin-bottom: 10px;

    p {
      margin-left: 10px;
    }
  }

  .genre-list {
    display: table-cell;
    text-align: center;

    table, th, td {
      border: 2px solid #333;
    }

    table {
      border-collapse: collapse;
    }

    th {
      padding: 0 20px;
      background-color: silver;
    }

    a {
      margin: 0;
      color: rgb(61, 132, 255);
    }
  }
}
