header {
  width: 100%;
  height: 50px;
  padding: 11px 30px;
  background-color: rgb(61, 132, 255);
}

.header-left-nav {
  float: left;

  input {
    margin-top: -2px;
  }
}

.header-left-nav form {
  display: inline-block;
  padding-right: 10px;
}

.header-left-nav .form-control {
  width: 180px;
  display: inline-block;    
  padding: 6px 12px 6px 30px;
}

.header-right-nav {
  float: right;
}

.header-right-nav .nav-item {
  display: inline-block;
  color: white;
}

header .host-icon {
  margin-top: -9px;
  width: 44px;
  height: 44px;
  object-fit: cover;
  border-radius: 50px;
}

.header-right-nav a {
  padding-left: 20px;
  color: white;
}
