<div class="cinema-index">
  <p>左上の入力フィールドから映画タイトルまたは著名人を検索してください。</p>
  <%= react_component('HelloWorld', { greeting: 'Mike' }) %>
  <%= react_component('CinemaSlider', { cinemas: @cinemas, cinema_urls: @cinema_urls }) %>
</div>
