<p>こんにちは <%= @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>メールアドレスが以下に変更された事をお知らせします。</p>
  <p><%= @resource.unconfirmed_email %></p>
<% else %>
  <p>メールアドレスが以下に変更される事をお知らせします。</p>
  <p><%= @resource.email %></p>
<% end %>
